%nav.navbar.navbar-inverse.custom-footer
    .container
        .navbar-text.pull-left.custom-text
            %p Dzięki za odwiedziny!
        .navbar-text.pull-right
            = image_tag "ror_icon.png", :class => "custom-icon"
            = image_tag "bootstrap_icon.png", :class => "custom-icon"
            = image_tag "html5_icon.png", :class => "custom-icon"
            = image_tag "css3_icon.png", :class => "custom-icon"
            = image_tag "javascript_icon.png", :class => "custom-icon"
            = image_tag "jquery_icon.png", :class => "custom-icon"
        .navbar-text.pull-right.custom-text
            %p © Robert Szczygieł