!!!
%html
  %head
    %title Admin panel
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', media: 'all'
    = csrf_meta_tags
  %body
    = render 'layouts/admin_nav'
    .container
      .col-sm-2
        %ul.nav.nav-pills.nav-stacked
          %li.active
            = link_to t('admin.menu.dashboard'), admin_path
          %li
            = link_to t('admin.menu.posts'), admin_posts_path
          %li
            = link_to t('admin.menu.categories'), admin_categories_path
          %li
            %a{ :href=>"#" } Another
          %li
            %a{ :href=>"#" } Another
          %li
            %a{ :href=>"#" } Another

      .col-sm-10
        %ol.breadcrumb
          %li
            %a{:href => admin_path} Home
          =yield :breadcrumb

        = yield