<!DOCTYPE html>
<html>
<head>
  <title>Rails project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all'  %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', media: 'all' %>
  

  <%= csrf_meta_tags %>
</head>
<body>
  
  <h1> <i class="fa fa-gg"></i> Ruby is fun !</h1>
  <p>
  TO DO:
  /admin login:
  login: admin
  password: password
 
  </p>


<%= yield %>

</body>
</html>
