!!!
%html
  %head
    %title Rails project
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', media: 'all'
    = csrf_meta_tags
  %body
    = image_tag "banner.jpg"
    = render 'layouts/application_nav'
    %div.custom-main
      .container.custom-bgcontainer
        .container visit /admin, /pages/about
        .col-sm-8.custom-main-top.custom-main-bottom
          = yield
        .col-sm-4.panel.panel-success.custom-main-top
          = render 'layouts/facebook_plugin'
    = render 'layouts/footer_nav'